body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    padding-top: 70px; 
    scroll-padding-top: 70px; 
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.light-mode #theme-toggle i {
    color: #f39c12; 
}

body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

body.dark-mode #theme-toggle i {
    color: #f1c40f; 
}

.navbar-light.bg-light {
    background-color: #f8f9fa !important;
    border-bottom: 1px solid #e0e0e0;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
    margin: 0 15px;
    font-size: 16px;
}

body.dark-mode .navbar-light {
    background-color: #343a40 !important;
    border-bottom: 1px solid #444;
    box-shadow: 0 4px 6px rgba(255, 0, 0, 0.4); /* Red shadow for dark mode */
}

body.dark-mode .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-nav {
    justify-content: center;
    width: 150%;
}

#theme-toggle {
    cursor: pointer;
    margin-left: auto;
}

#theme-toggle i {
    font-size: 24px; 
    color: inherit;
}

#theme-toggle {
    background-color: transparent;
    border: none; 
    padding: 0;
    outline: none; 
    margin-left: auto; 
}

#theme-toggle:hover i {
    color: #f39c12; 
}

#home p {
    text-align: justify;
}


#home img {
    width: 300px !important; 
    height: 300px !important; 
    object-fit: cover; 
    border-radius: 50%; 
    border: 2px solid #ddd; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

body.dark-mode #home img {
    box-shadow: 0 20px 30px rgba(255, 0, 0, 0.6) !important; 
}

#home h1, #home h3 {
    text-align: left; 
}

#home p {
    text-align: left; 
    margin-top: 20px;
}

body.dark-mode .navbar {
    background-color: #000000 !important; 
    border-bottom: 1px solid #444;
    box-shadow: 0 8px 12px rgba(255, 0, 0, 0.6) !important; 
}

body.dark-mode .navbar-light .navbar-nav .nav-link {
    color: #ffffff; 
}

.navbar-brand {
    display: flex;
    align-items: center; 
}

.project-box {
    background-color: #f8f9fa;
    border-radius: 15px;
    margin: 20px;
    padding: 0; 
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 200px; 
}

.project-image {
    background-size: cover;
    background-position: center;
    height: 100%; 
    width: 100%;
}

.box-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: all 0.3s ease;
    text-decoration: none;
}

.project-box:hover .box-content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.box-title {
    font-size: 1.25rem;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

body.light-mode .project-box {
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.light-mode .box-title {
    color: #000000;
}

body.dark-mode .project-box {
    background-color: #343a40;
    box-shadow: 0 4px 6px rgba(255, 0, 0, 0.4);
}

body.dark-mode .box-title {
    color: hsl(0, 0%, 5%);
}


.navbar {
    padding: 1rem 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 1000;
}

body {
    padding-top: 70px;
}
body.dark-mode .navbar {
    background-color: #343a40 !important;
    border-bottom: 1px solid #444;
    box-shadow: 0 8px 12px rgba(255, 0, 0, 0.6) !important; 
}

body.dark-mode .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

body.dark-mode .navbar {
    background-color: #343a40 !important;
    border-bottom: 1px solid #444;
    box-shadow: 0 8px 12px rgba(255, 0, 0, 0.6) !important; 
}

#home img {
    width: 150px;  
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


body.dark-mode #home img {
    box-shadow: 0 20px 25px rgba(255, 0, 0, 0.4) !important;
}

.personal-project-box {
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    background-color: #f8f9fa; 
    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.3); 
    height: auto; 
}

.personal-box-content {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
}

.box-title {
    font-size: 1rem;
    font-weight: bold;
    color: #000; 
}

body.dark-mode .personal-project-box {
    background-color: #343a40; 
    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.5); 
}

body.dark-mode .personal-box-content {
    color: #ffffff; 
}

.internship-box {
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    background-color: #f8f9fa; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: auto; 
    transition: background-color 0.3s, box-shadow 0.3s;
}


.internship-box-content {
    display: block;
    text-decoration: none; 
    color: #000;
}

.internship-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.internship-description {
    font-size: 1rem;
    color: #333;
    text-decoration: none; 
}

.internship-box:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #e9ecef; 
}


body.dark-mode .internship-box {
    background-color: #343a40; 
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); 
}

body.dark-mode .internship-box-content {
    color: #ffffff; 
}

body.dark-mode .internship-title {
    color: #ffffff;
}

body.dark-mode .internship-description {
    color: #ddd; 
}

body.dark-mode .internship-box:hover {
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.3);
    background-color: #495057; 
}


.education-box {
    border-radius: 15px;
    margin: 15px;
    padding: 20px;
    background-color: #f8f9fa; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, box-shadow 0.3s;
}

.education-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #000; 
}

.education-description {
    font-size: 1rem;
    color: #333; 
}

body.dark-mode .education-box {
    background-color: #343a40; 
    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.3); 
}

body.dark-mode .education-title {
    color: #ffffff; 
}

body.dark-mode .education-description {
    color: #ddd; 
}

.navbar-logo {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    object-fit: cover;
    margin-right: 10px; 
    border: none; 
}


.navbar-brand {
    display: flex;
    align-items: center;
}
.course-box {
    background: linear-gradient(135deg, #e0f7fa, #edf0ed);
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    color: black;
    font-size: 1.2em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 10px;
}

.course-box i {
    font-size: 2em; 
}

.course-title {
    font-size: 1.5em;
    margin: 0;
}
